!!!
%html{ lang: 'en' }
  %head
    %title Netguru Workshops
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          =link_to AppConfig.workshops_name, root_path, class: "navbar-brand"
        %p.navbar-text.navbar-right
          = link_to 'Users', users_path
          - if user_signed_in?
            = link_to 'Edit profile', edit_user_registration_path
            = link_to('Logout', destroy_user_session_path, :method => :delete)
          - else
            = link_to('Sign in', new_user_session_path, :method => :get)
    .container-fluid
      .starter-template
      - if flash[:notice]
        .alert.alert-success= flash[:notice]
      - if flash[:error]
        .alert.alert-danger= flash[:error]
      .row
        .col-lg-12
          = yield
